.container {
  width: 100%;
  padding: 20px;
  box-sizing: content-box;
  margin-top: 21px;
}

.info {
  display: flex;
  justify-content: space-between;
}

.item {
  justify-content: space-between;
}

.page{
  display: block;
}

.button{
  margin: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  padding: 5px;
  margin: 10px;
}

#someForm {
  border: 1px solid red;
  padding: 1em;
  border-radius: 20px;
}