.container {
    width: 125%;
    padding: 20px;
    box-sizing: content-box;
    margin-bottom: 21px;
    margin-top: 21px;
    min-width: 600px;
}
  .price {
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #2196f3;
  }
  .info {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
  }
  .item {
    justify-content: space-between;
  }
  .item h3 {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #a0b0b9;
  }
  .item h1 {
    font-weight: 600;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 0.5px;
    color: #4a4a4a;
    margin: 20 10px;
  }
  .item span {
    font-weight: 600;
    font-size: 30px;
    line-height: 21px;
    color: #4a4a4a;
  }


  